@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Cookie&family=EB+Garamond:ital,wght@0,500;1,500&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Poppins&family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 90vw;
  margin: 0 auto;
}

/* navbar part */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-size: 1.2rem;
}

.nav-links ul {
  display: flex;
  justify-content: center;
}

.nav-links ul li {
  list-style: none;
  padding: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  padding: 20px 15px;
  font-size: 1.09rem;
  color: black;
}

/* navbar part */

/* banner part */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.banner-content {
  flex: 1;
}

.banner-content h1 {
  font-size: 52px;
}

.banner-content p {
  font-size: 1rem;
  text-align: justify;
}

.banner-content button {
  outline: 0;
  border: 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 40px;
  background-color: #e02c6d;
  color: aliceblue;
  margin-top: 20px;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

/* banner part */

/* logo-part */

.logo-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 40px;
  margin-bottom: 80px;
}

/* logo-part */
